:root {

  /* Fonts*/
 --main-font: 'Roboto', sans-serif;
 --secondary-font: 'Raleway', sans-serif;

    /* Text color*/
  --primmaty-text-color: #212121;
  --title-text-color: #ffffff;
  --text-color: #757575;
  --accent-color: #2196F3;

  /* Backgroundcolor*/
  --primmaty-bg-cl: #F5F5F5;
  --accent-bg-cl: #2F303A;
}

.page {
  width: 1600px;
  font-family:var(--main-font);
  font-size:16px;
  color:var(--primmaty-text-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /*outline:2px solid red;
  outline-offset:-2px;*/
}
.section{
  padding-top:94px;
  padding-bottom:94px;

  /*outline: 2px solid blueviolet;
  outline-offset: -2px;*/
}

/* reset */
.list {
  text-decoration: none;
  color: currentColor;
  list-style: none;
  margin:0;
  padding:0;
  display: flex;
  flex-direction:row;
}

h1,
h2,
h3,
h4,
p {
margin:0;
}
/**
  |============================
  | Header
  |============================
*/

.header {
  margin: 0;
  padding-top: 32px;
  padding-bottom:32px;
  font-weight: 500;
  line-height: 1.14;
  background-color:var(--title-text-color);

  display: flex;
  flex-direction: row;
}
.special {
  color: var(--accent-color);
}
.nav {
display: flex;
flex-direction: row;
margin-right: 294px;
}

.logo {
  margin-right :93px;
  font-family:var(--secondary-font);
  text-decoration: none;
 color:var(--primmaty-text-color);
}

.special,
.logo {
  font-family:var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.all{
margin-right:50px;
}
.item {
  color:var(--accent-color);
  text-decoration: none;
  margin-right: 50px;
}
.header-item {
  font-size:14px;
  color: var(--primmaty-text-color);
  text-decoration: none;
  margin-right: 50px;

}

.header-item:focus,
.header-item:hover {
  color:var(--accent-color);

}

.header-all {
  color:var(--text-color);
  font-size: 14px;
  text-decoration: none;
}

.header-all:hover,
.header-all:focus {
  color:var(--accent-color );
}

/**
  |============================
  | Slogan
  |============================
*/
.slogan {
  background:var(--accent-bg-cl);
  text-transform: uppercase;
   display: flex;
  flex-direction: column;
  align-items: center;
  
}

.cnt {
  font-size: 44px;
  line-height:1.36;
  color: var(--title-text-color);
  width:696px;
 

}

.button {
  width:216px;
  min-height: 40px;
  padding:10px 32px;
  font-size: 16px;
  font-weight: 700;
  line-height:1.87;
  color: var(--title-text-color);
  background-color: #2196F3;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color:#188CE8;
}
/**
  |============================
  | About
  |============================
*/

.visually-hidder {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0000);
  clip-path: inset(50%);
  margin: -1px;
}

.about-item:not(:last-child) {
margin-right:30px;
}
.about-subtitle {
  text-transform: uppercase;
  font-size: 14px;
  line-height:1.14;
}
.about-text {
  font-size: 14px;
  line-height:1.71;
  color: var(--text-color);

}
/**
  |============================
  |Image
  |============================
*/

.image-headline {
  font-size: 36px;
  line-height:1.16;
  text-align: center;
  margin-bottom: 50px;
  
}
.image-img:not(:last-child) {
  margin-right: 30px;
}
/**
  |============================
  | Nero
  |============================
*/
.nero {
  background: #F5F4FA;
}
.nero-caption {
  font-weight:700;
  font-size: 36px;
  line-height:1.16;
  text-align:center;
  margin-bottom: 50px;
}
.nero-title {
font-weight:500;
font-size:16px;
line-height:1.18;
margin-top:30px;
margin-left: auto;
margin-bottom: 10px;
margin-right: auto;


}

.nero-meta {
 color:var(--text-color); 
 font-weight:400; 
}
.nero-item {
  padding-bottom: 30px;
  font-weight:400;
  background-color: var(--title-text-color);
 }
.nero-item:not(:last-child) {
  margin-right: 30px;
}
/**
  |============================
  | Portfolio
  |============================
*/
.btn {
  font-family: inherit;
  font-weight:500;
  font-size:16px;
  line-height:1.62;
  background-color:#F5F4FA ;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}
.btn:focus,
.btn:hover {
  background-color: var(--accent-color);
  color:var(--title-text-color);
}
.main-btn {
color: var(--primmaty-text-color);
text-decoration: none;
}
.list-btn{
 padding-left:313px;
 padding-bottom: 50px;
 padding-right: 312px; 
 gap: 8px;
}
.main-list {
  display: flex;
  flex-wrap: wrap;
  gap:30px;
}
.main-title {
  margin-top:20px;
  margin-left: 24px;
  margin-bottom: 4px;
  margin-right: 24px;
color: var(--primmaty-text-color);
font-weight: 700;
font-size: 18px;

}
.main-meta {
  margin-left: 24px;
  margin-bottom: 20px;
  margin-right: 24px;
  font-weight:400;
  font-size:16px;
  color: var(--text-color);
}
 .main-item {
  text-decoration: none;
 }
/**
  |============================
  | Footer
  |============================
*/
.footer {
padding-top: 60px;
padding-bottom: 60px;
  font-size: 14px;
  line-height:1.71;
  font-weight: 400;
  background-color:var(--accent-bg-cl);
}

.footer-logo {
  font-family:var(--secondary-font);
  font-weight:700;
  font-size:26px;
  line-height:1.19;
  text-decoration: none;
  color:var(--title-text-color);
  margin-bottom: 20px;
}
.footer-list {
  display: flex;
  flex-direction: column;

}
.footer-list:not(:last-child) {
  margin-right: 9px;
}


.footer-type {
  color: var(--title-text-color);
  text-decoration: none;
  font-style: normal;
}


.footer-all {
  font-style: normal;
  font-weight:400;
  font-family:var(--main-font);
  color:var(--text-color);
  text-decoration: none;
 }
 .footer-type:hover,
 .footer-type:focus {
  color: #188CE8;
}
.footer-all:hover,
.footer-all:focus {
 color: #188CE8;
}